:root {
    --primary-color: #6C63FF;
    --hover-color: #5a54d1;
    --background-color: #0f0f1a;
    --text-color: #ffffff;
    --hover-text-color: #4facfe;

    --primary-gradient: linear-gradient(135deg, #6C63FF, #4facfe);
    --secondary-gradient: linear-gradient(135deg, #0f0f1a, #1a1a2e, #16213e);
    --text-gradient: linear-gradient(90deg, #6C63FF, #4facfe);
}

/* ===== BODY ===== */
body {
    font-family: Arial, sans-serif;
    display: flex;
    background: var(--secondary-gradient);
    justify-content: center;
    align-items: center;
    height: 100svh;
    margin: 0;
}

.login {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}


.login .login-card {
    position: relative;
    width: 400px;
    height: 400px;
    overflow: hidden;
}

/* ===== CONTAINERS ===== */
.login-container,
.signup-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 15px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    transition: all 0.6s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}


.login-container {
    z-index: 2;
    opacity: 1;
    transform: translateY(0);
}

.signup-container {
    opacity: 0;
    transform: translateY(-100%);
    z-index: 1;
}

.login-card.active .login-container {
    opacity: 0;
    transform: translateY(100%);
}

.login-card.active .signup-container {
    opacity: 1;
    transform: translateY(0);
    z-index: 3;
}

/* ===== IMAGE ===== */
.login-image {
    width: 400px;
    animation: float 5s ease-in-out infinite;
}

@keyframes float {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-15px);
    }
}

/* ===== HEADINGS ===== */
.login-container h2,
.signup-container h2 {
    margin: 20px;
    font-size: 40px;
    background: var(--text-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* ===== INPUTS ===== */
.login-container .input-box,
.signup-container .input-box {
    position: relative;
    display: flex;
    width: max-content;
    flex-direction: column;
    margin: 15px auto;
}

.login-container input,
.signup-container input {
    position: relative;
    width: 300px;
    padding: 5px;
    margin-bottom: 15px;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    background: transparent;
    color: white;
}

.login-container input:focus,
.signup-container input:focus {
    background: transparent;
    outline: none;
    transform: scale(1.03);
    border-bottom: 1px solid var(--primary-color);
}

.login-container input:active,
.signup-container input:active {
    background: transparent;
}

.login-container label,
.signup-container label {
    position: absolute;
    color: rgba(255, 255, 255, 0.5);
    pointer-events: none;
    font-size: 14px;
    top: 0;
    left: 0;
    transition: 0.3s;
}

.login-container input:focus+label,
.signup-container input:focus+label,
.login-container input:valid+label,
.signup-container input:valid+label {
    top: -10px;
    font-size: 12px;
    color: var(--primary-color);
}

/* ===== BUTTON ===== */
.login-container button,
.signup-container button {
    width: 300px;
    padding: 12px;
    background: var(--primary-gradient);
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
    margin: 15px 0 25px 0;
}

.login-container button:hover,
.signup-container button:hover {
    transform: scale(1.05);
    opacity: 0.9;
}

/* ===== LINKS ===== */
.login-container p {
    display: flex;
    gap: 15px;
    justify-content: space-around;
    margin-top: 10px;
    font-size: 14px;
}

.login-container a,
.signup-container a {
    text-decoration: none;
    color: var(--primary-color);
    transition: 0.3s;
}

.login-container a:hover,
.signup-container a:hover {
    color: var(--hover-text-color);
}

/** Sign Up */
.sign-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.remember {
    display: flex;
    align-items: center;
    gap: 5px;
}

.remember #checkbox {
    margin: 0;
    width: 12px;
    height: 12px;
    accent-color: var(--primary-color);
}

.remember label {
    position: static;
    top: auto;
    left: auto;
    pointer-events: auto;
    font-size: 14px;
    color: var(--primary-color);
    cursor: pointer;
    margin-left: 3px;
}

/** ============== POP UP Styling ============== */
.login-popup,
.signup-popup {
    position: absolute;
    top: 0;
    left: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    background: var(--primary-gradient);
    padding: 5px 20px;
    border-radius: 0px 15px 55px 15px;
    transform: translate(-50%, -100%);
    transition: 0.5s;
    z-index: 999;
}

.popup-content {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.popup-content .popup-text {
    font-size: 20px;
    margin: 0;
}

.popup-content button {
    padding: 5px 10px;
    background: var(--secondary-gradient);
    border: none;
    color: var(--text-color);
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.popup-content button:hover {
    transform: scale(1.05);
    opacity: 0.9;
}


/*! ===== RESPONSIVE ===== !*/
@media (max-width: 1024px) {
    .login {
        gap: 20px;
    }

    .login-image {
        width: 350px;
    }

    .login-container,
    .signup-container,
    .login .login-card {
        width: 350px;
        height: 350px;
    }

    .login-container button,
    .signup-container button {
        width: 250px;
    }
}

@media (max-width: 768px) {
    .login {
        flex-direction: column-reverse;
        gap: 20px;
    }

    .login-card {
        width: 300px;
    }

    .login-container h2,
    .signup-container h2 {
        font-size: 30px;
    }

    input,
    button {
        width: 250px;
    }

    .login-image {
        width: 250px;
    }

    /** ============== POP UP Styling ============== */

    .login-popup,
    .signup-popup {
        border-radius: 0 0 15px 15px;
    }

    .popup-content button {
        width: 100px;
    }

    .login-popup lord-icon,
    .signup-popup lord-icon {
        width: 80px !important;
        height: 80px !important;
    }

    .popup-content .popup-text {
        font-size: 16px;
    }

}